#root {
  background: linear-gradient(145deg, rgba(0, 245, 64, 0.5) 0%, rgb(98, 0, 234) 100%);
}

/* Container */

.container {
  min-height: 100vh;
  width: 100%;
  place-items: center;
  padding-top: 80px;
  padding-bottom: 100px;
}

.container > .row {
  align-items: center;
  margin-left: 0;
}

/* Banner */

.banner {
  width: 100%;
  text-align: center;
  margin-top: 200px;
  justify-content: center;
}

/* Navbar */

.navbar {
  box-shadow: 0 0 2px black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: mediumturquoise;
}

.first-title {
  color: rgb(0, 0, 0);
}

.second-title {
  color: rgb(98, 0, 234);
}

.logo {
  align-items: baseline;

}

.fa-headphones {
  font-size: 2em;
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background-color: rgb(150, 150, 150);
  float: left;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  padding-top: 8px;
  margin-right: 10px;
  box-shadow: 3px 3px 10px black;
}

.profile span {
  font-size: 16px;
  line-height: 40px;
  font-weight: 500;
  margin-left: 10px;
}

.profile:hover {
  width: fit-content;
  padding: 0 10px 0 0;
  transition: cubic-bezier(0.215, 0.610, 0.355, 1);
  cursor: pointer;
}

.profile:hover .icon {
  position: relative;
  top: -9px;
}

.profile:hover .icon svg {
  position: relative;
  top: 9px;
}

.profile .icon {
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
}

/* Song Grid and Card */

.col-md-9 > .d-flex {
  justify-content: flex-end;
}

.play {
  position: absolute;
  top: 10px;
  right: 10px;
  width: fit-content;
  font-size: 20px;
  background-color: white;
  color: black;
}

.song-card {
  width: 300px;
  height: 400px;
  margin: 10px;
}

.song-card:hover {
  cursor: pointer;
}

.song-image {
  width: 300px;
  height: 300px;
}

.card-subtitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.selected-song {
  margin-bottom: 40px;
}

/* Search Bar */

.search-bar {
  box-shadow: 3px 3px 10px black;
}

.info {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.info p {
  visibility: hidden;
  transition: ease-in-out all 0.5s;
  font-size: small;
}

.info:hover p {
  visibility: visible;
}

/* Buttons */

.create-playlist {
  position: absolute;
  top: 80px;
  right: 20px;
  box-shadow: 3px 3px 10px black;
}

.song-analysis {
  max-width: 300px;
  margin: 40px auto;
  box-shadow: 3px 3px 10px black;
}

.login {
  box-shadow: 3px 3px 10px black;
}

/* Graph */

.graph {
  width: 300px;
  height: 300px;
  box-shadow: 3px 3px 10px black;
  margin: 40px auto;
  padding: 10px;
}

canvas {
  background: mediumturquoise;
}

.table-data {
  box-shadow: 3px 3px 10px black;
  margin: 40px auto;
  width: 300px;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1) all 0.3s;
  opacity: 0;
}

.more-info {
  text-align: center;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1) all 0.3s;
}

.info-div {
  width: 300px;
  place-self: center;
}

.info-div:hover .table-data {
  opacity: 1;
}

.info-div:hover .more-info {
  opacity: 0;
}

.table td {
  text-align: right;
}

.login-alert {
  position: absolute;
  top: 100px;
  right: 20px;
  box-shadow: 3px 3px 10px black;
  padding: 10px;
  background-color: mediumturquoise;
  border-radius: 5px;
}
/* Speaker

.speaker {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  position: absolute;
}

.inner-speaker {
  width: 225px;
  height: 225px;
  border-radius: 50%;
  background-color: lightslategrey;
  margin: auto;
  position: absolute;
  left: 12%;
  top: 12%;
}

.ripple {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  animation: rippleEffect linear infinite;
}

@keyframes rippleEffect {
  0% { width: 0; height: 0; opacity: 0.5; }
  100% { width: 200px; height: 200px; opacity: 0; }
} */

/* Media Query */

@media (max-width: 562px) {
  .banner {
    margin-top: 100px;
  }

  .profile {
    display: none;
  }

  .col-md-9 > .d-flex {
    justify-content: center;
  }

  .search-bar {
    margin-top: 50px;
  }
}


@media (max-width: 1100px) {
  .row > .col-lg-9 {
    padding-left: 25px;
  }
}
