#root {
  background: linear-gradient(145deg, rgba(0, 245, 64, 0.5) 0%, rgb(98, 0, 234) 100%);
}

/* Container */

.container {
  min-height: 70vh;
  width: 100%;
  place-items: center;
}

.container > .row {
  align-items: center;
  margin-left: 0;
}

/* Banner */

.banner {
  width: 100%;
  text-align: center;
  margin-top: 200px;
  justify-content: center;
}

/* Navbar */

.first-title {
  color: rgb(0, 0, 0);
}

.second-title {
  color: rgb(98, 0, 234);
}

.logo {
  align-items: baseline;

}

.fa-headphones {
  font-size: 2em;
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background-color: rgb(150, 150, 150);
  float: left;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  padding-top: 8px;
  margin-right: 10px;
}

.profile span {
  font-size: 16px;
  line-height: 40px;
  font-weight: 500;
  margin-left: 10px;
}

.profile:hover {
  width: fit-content;
  padding: 0 10px 0 0;
  transition: cubic-bezier(0.215, 0.610, 0.355, 1);
  cursor: pointer;
}

.profile:hover .icon {
  position: relative;
  top: -9px;
}

.profile:hover .icon svg {
  position: relative;
  top: 9px;
}

.profile .icon {
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
}

/* Song Grid and Card */

  .col-md-9 > .d-flex {
    justify-content: flex-end;
  }

.play {
  position: absolute;
  top: 10px;
  right: 10px;
  width: fit-content;
  font-size: 20px;
  background-color: white;
  color: black;
}

.song-card {
  width: 300px;
  height: 400px;
  margin: 10px;
}

.song-card:hover {
  cursor: pointer;
}

.song-image {
  width: 300px;
  height: 300px;
}

.card-subtitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Buttons */

.create-playlist {
  position: absolute;
  top: 80px;
  right: 20px;
}

/* Media Query */

@media (max-width: 562px) {
  .banner {
    margin-top: 100px;
  }

  .profile {
    display: none;
  }

  .col-md-9 > .d-flex {
    justify-content: center;
  }
}
